Wine Dataset

In [ ]:
#The code below loads in the data set wine-data.csv into a variable wines as list of lists.
#We’ll perform statistics on wines.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wine-data.csv')
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,12,Sicily & Sardinia,Etna,NaN,Kerin Oâ€™Keefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,95,15,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,100,14,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,85,13,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,88,65,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [3]:
df.dtypes

country                  object
description              object
designation              object
points                    int64
price                     int64
province                 object
region_1                 object
region_2                 object
taster_name              object
taster_twitter_handle    object
title                    object
variety                  object
winery                   object
dtype: object

Measures of Central Tendency

The mean is a descriptive statistic that looks at the average value of a data set.

In [4]:
num_wines = len(df)
#Is there a method / attribute in Pandas that gives number of rows only?
sorted_prices = sorted(df['price'])
sorted_points = sorted(df['points'])
num_wines

11

In [5]:
sorted_prices

[12, 12, 13, 14, 15, 15, 16, 19, 24, 27, 65]

In [6]:
sorted_points

[77, 80, 85, 85, 87, 87, 88, 95, 96, 98, 100]

In [7]:
middle = int(num_wines/2 - 0.5)
middle

5

In [8]:
median_prices = sorted_points[middle]
median_prices

87

##Median


The median also attempts to define a typical value in the data set, but unlike mean, does not require calculation. To find the median, we first need to reorganize our data set in ascending order. Then the median is the value that coincides with the middle of the data set. If there are an even amount of items, then we take the average of the two values that would “surround” the middle.

In [9]:
df.median()

/tmp/ipykernel_4823/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

points    87.0
price     15.0
dtype: float64

In [10]:
#Interquartile Ranges 
middle_first_half = int(middle / 2 - 0.5)

middle_last_half = int((middle / 2 + 0.5) + middle)

middle_first_half, middle_last_half

(2, 8)

In [11]:
# Q. Which variety of wine has the highest price?
# Does wine which has got more rating, cost higher?

In [12]:
#Q1, Q2 of Prices
median_q1_prices = sorted_prices[middle_first_half]
median_q2_prices = sorted_prices[middle_last_half]
median_q1_prices, median_q2_prices

(13, 24)

In [13]:
df.describe()

           points      price
count   11.000000  11.000000
mean    88.909091  21.090909
std      7.435786  15.352228
min     77.000000  12.000000
25%     85.000000  13.500000
50%     87.000000  15.000000
75%     95.500000  21.500000
max    100.000000  65.000000

Mode

In [14]:
#Mode
# The last measure of central tendency that we’ll discuss is the mode. 
# The mode is defined as the value that appears the most frequently in our data. 
# The intuition of the mode as the “middle” is not as immediate as mean or median,
# but there is a clear rationale. If a value appears repeatedly throughout the data,
# we also know it will influence the average towards the modal value. 
# The more a value appears, the more it will influence the mean.
# Thus, a mode represents the highest weighted contributing factor to our mean

In [15]:
# Ask this
df['price'].mode()

0    12
1    15
Name: price, dtype: int64

In [16]:

df['points'].mode()

0    85
1    87
Name: points, dtype: int64


Range

In [17]:
range_price = df['price'].max() - df['price'].min()
range_points = df['points'].max() - df['points'].min()
range_price, range_points

(53, 23)

Variance

In [19]:
# Statistical variance gives a measure of how the data distributes itself about the mean or expected value. 
# Unlike range that only looks at the

#extremes, the variance looks at all the data points and then determines their distribution

In [20]:
df.var()

/tmp/ipykernel_4823/1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

points     55.290909
price     235.690909
dtype: float64